main {
   

    .our_left_right {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding-top: 80px;
    }
    .main_title {
        color: rgb(0, 0, 0);
        font-family: Roboto;
        font-size: 50px;
        font-weight: 700;
        text-align: center;
        padding-top: 50px;
    }

    .our_title {
        color: rgb(51, 51, 51);
        font-family: Roboto;
        font-size: 48px;
        font-weight: 500;
    }

    .our_suptitle {
        color: rgb(51, 51, 51);
        font-family: Roboto;
        font-size: 22px;
        font-weight: 400;
        line-height: 34px;
        width: 453px;
        padding-top: 10px;
    }

}