main {
    .planalto_left_right {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .planalto_title {
        color: rgb(51, 51, 51);
        font-family: Roboto;
        font-size: 48px;
        font-weight: 500;
    }

    .planalto_suptitle {
        color: rgb(51, 51, 51);
        font-family: Roboto;
        font-size: 22px;
        font-weight: 400;
        line-height: 34px;
        width: 410px;
        padding-top: 10px;
    }

    .planalto_img {
        width: 450px;
    }
}