*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1340px;
    width: 100%;
    margin: 0 auto;
}

ol ,ul {
    list-style: none;
}
 li a{
 text-decoration: none; 
}
 .active{
    font-weight: bold;
 }